@model Theme

@{
    ViewBag.Title = "Создание формы";
}

<div class="bg-dark text-center pt-5 pb-4">
    <h3 class="text-white mb-5">Заполните форму для создания новой темы</h3>
    <form asp-action="Create" asp-controller="Theme" method="post">
        <div asp-validation-summary="ModelOnly"></div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <input type="text" class="form-control" asp-for="Title" placeholder="Укажите заголовок темы...">
                <span asp-validation-for="Title" class="text-error"/>
            </label>
        </div>
        <div class="form_row mb-3">
            <label for="" class="col-4">
                <textarea asp-for="Description" type="text" class="form-control" placeholder="Укажите описание темы..." rows="3"></textarea>
                <span asp-validation-for="Description" class="text-error"/>
            </label>
        </div>
        <button type="submit" class="btn btn-outline-light mb-3 w-25">Создать тему</button>
    </form>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}